.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.good {
  background-color:#89be27;
}

.ok {
  background-color:#fed536;
}

.bad {
  background-color:#e92532;
}

.label {
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size: 100px;
  width: 100%;
  height: 100%;
  border: 0;
  text-decoration:none;
}
