.App {
  width: 100vw;
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card {
  padding: 20px;
  flex: 1 0 15%;
  margin: 25px;
}

.value {
  position: relative;
  float: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trend {
  float: right !important;
}

.progress {
  position: relative;
  float: left;
  top: 28%;
  left: 45%;
  color: #185cd3 !important;
}
